/*
.container{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 20px );
    width: 50px;
    /*
    background-color: #ffff66;
}

.div_1{
    background-color: #6dd18e;
    padding: 20px;
}


.div_2{
    background-color: #ffff66;
    padding: 20px;
}

.div_3{
    background-color: #00ddff;
    padding: 20px;
}

.div_4{
    background-color: #9e69bf;
    padding: 20px;
}

.div_5{
    background-color: #34edc5;
    padding: 20px;
}

.div_6{
    background-color: #c7853a;
    padding: 20px;
}

/*.block_row{
    border-width: 20px;
    margin: 20px 20px 20px 20px;
}

.block_row{

    flex-direction: row-reverse;
    
      display: flexbox;
    
      border-width: 20px solid #ece89d;
      margin: 0px 0px 20px 0px;
    }
    
    .block_column{
      border: 20px solid #f2ff00fd;
    }
    
    .block_item{
    background-color: #18b5a4;
    
    }
    */



    body {
        font-family: system-ui;
        background: hsl(200 50% 5%);
        min-height: 100vh;
        display: grid;
        place-items: center;
      }
      
    .ripple-button {
        display: inline-grid;
        place-items: center;
        position: relative;
        isolation: isolate;
        appearance: none;
        cursor: pointer;
        font-size: 3rem;
        padding: 1em 3em;
        text-transform: uppercase;
        background-color: transparent;
        color: hsl(200 100% 65%);
        border: 5px solid currentColor;
        border-radius: 0.125em;
        overflow: hidden;
      }
      
    .ripple-button::before {
        content: "";
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%) scale(0);
        transition: transform 750ms;
        z-index: -1;
        width: 150%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background: #fff;
        opacity: 0.5;
      }
      
    .pulse::before {
        animation: pulse 100ms;
      }
      
      @keyframes pulse {
        0% {
          transform: translate(-50%, -50%) scale(0);
          opacity: 0.5;
        }
        100% {
          transform: translate(-50%, -50%) scale(1);
          opacity: 0;
        }
      }
      

      /**//*/*//*/*//*/*//*/*/
